.cardsBody {
    height: 60vh;
    width: 42vw;
}

.cardsBody img {
    height: 40vh;
    width: 70rem;
}

.Body {
    width: 60vw;
    background-color: #1AA5B0;
}

.CardsDetails {
    height: 100vw;
}

.Card {
    background-color: black;
}

@media (max-width: 2506px) {
    .Body {
        width: 100%;
        height: 30vh;
    }

    .cardsBody {
        height: 62vh;
        width: 68rem;
    }

    .cardsBody img {
        height: 40vh;
        width: 68rem;
    }
}

@media (max-width: 1247px) {
    .Body {
        width: 40vw;
        height: 70vh;
    }

    .cardsBody {
        height: 72vh;
        width: 87vw;
    }

    .cardsBody img {
        height: 40vh;
        width: 100%;
    }
}

@media (max-width: 686px) {

    .cardsBody {
        height: 70vh;
        width: 77vw;
    }
}