.Game {
    margin-top: 4px;
    font-family: 'Bauhaus 93';
    text-decoration: uppercase;
    font-size: 1.7rem;
    color: #ffffff;
}

.Shop {
    margin-top: 4px;
    font-family: 'Bauhaus 93';
    text-decoration: uppercase;
    font-size: 1.7rem;
    color: var(--Red);
}

.UserName {
    display: block;
}

@media (max-width: 768px) {
    .Game {
        display: none;
    }

    .Shop {
        display: none;
    }

    .UserName {
        display: none;
    }

    .Profile {
        display: none;
    }
}